body {
    /*background: black;*/
    color: #00ff88;
    font-family: "Courier New", monospace;
    text-align: center;
}

.screen {
    display: none;
    padding: 20px;
}

.active {
    display: block;
}

button {
    background: black;
    color: #00ff88;
    border: 1px solid #00ff88;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

input {
    background: black;
    color: #00ff88;
    border: 1px solid #00ff88;
    padding: 5px;
    margin: 5px;
}

.redacted {
    background: #00ff88;
    color: black;
}

.tag {
    border: 1px solid #00ff88;
    padding: 3px 8px;
    margin: 3px;
    display: inline-block;
    border-radius: 4px;
}
